<template>
  <div class="container-fluid no-padding header">
    <nav class="navbar navbar-expand-sm navbar-dark justify-content-end">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent" >
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link"><b-icon icon="alarm"></b-icon> {{ language }}</a>
          </li>
          <li class="nav-item" v-if="isAuthenticated">
            <a class="nav-link" @click="logout">Log Out</a>
          </li>
          <li class="nav-item" v-else>
            <nuxt-link class="nav-link" to="/login">ECP Login</nuxt-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Header',
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  data() {
    return {
      language: 'Singapore, English'
    }
  },

  methods: {
    async logout() {
      await this.$auth.logout()
    },
  }
}
</script>

<style scoped>
.nav-item {
  border: 0.5px solid #E5E5E5;
  border-radius: 25px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin: 16px 8px 16px 8px;
}

.nav-link {
  color: #E5E5E5;
}
</style>