#title {
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #E5E5E5;
  line-height: 50px;
}

#description {
  font-weight: 400px;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #E5E5E5;
  margin: 30px 0 30px 0;
}

.nav-item {
  border: 0.5px solid #E5E5E5;
  border-radius: 25px;
  cursor: pointer;
  padding: 0 10px 0 10px;
  margin: 16px 8px 16px 8px;
}

.nav-link {
    color: #E5E5E5;
}

#btn-qr {
  padding: 10px;
  color: #000000;
  background-color: #E5E5E5;
  font-weight: bold;
}

#btn-questionaire {
  background-color: #E5E5E5;
}

#link-questionaire {
  color: #000000;
  font-weight: bold;
}