.container {
  height: 100vh;
}

#form-login {
  height: 100%;
  display: flex;
  align-items: center;
}

#lb-title {
  color: #E5E5E5;
  margin-bottom: 30px;
}

#edt-passcode {
  margin-bottom: 15px;
  border: 0.5px solid #E5E5E5;
  border-radius: 40px;
  background-color: transparent;
  color: #FFFFFF;
}

#btn-login {
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  border: 0.5px solid #FFFFFF;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

#form-remember {
  margin-top: 30px;
}

#cb-remember {
  background-color: transparent;
  border: 0.5px solid #E5E5E5;
  cursor: pointer;
}

#lb-remember {
  color: #E5E5E5;
  cursor: pointer;
}

#lb-request {
  color: #E5E5E5;
  float: right;
  cursor: pointer;
}