<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <h1 id="title">
          Discover Your Vision Persionality
        </h1>
        <p id="description">
          Want to learn more about your vision needs? 
          <br>
          Take our lifestyle questionnaire and find your perfect lenswear solution.
        </p>
        <ul class="nav direct">
          <li class="nav-item" id="btn-qr">
            <span class="rounded">QR</span>
          </li>
          <li class="nav-item" id="btn-questionaire">
            <nuxt-link class="nav-link" id="link-questionaire" to="/questionaire">Questionaire <b-icon icon="arrow-right"></b-icon></nuxt-link>
          </li>
          <li class="nav-item" id="btn-simulations" v-if="$auth.loggedIn">
            <nuxt-link class="nav-link" id="link-simulations" to="/lens-simulations">Lens Simulations <b-icon icon="arrow-right"></b-icon></nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>

<style scoped src="@/assets/css/home.css">
</style>
