<template>
 <div class="container">
    <div class="row" id="form-login">
      <div class="col-md-4 offset-md-4">
      <form @submit.prevent="login">
        <div class="form-group">
          <label for="passcode"><h1 id="lb-title">ECP Login</h1></label>
          <input type="password" v-model="passcode" class="form-control" id="edt-passcode" placeholder="Enter passcode">
        </div>
        <button type="submit" class="btn" id="btn-login">Login</button>
        <div class="row" id="form-remember">
          <div class="col-6">
            <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="cb-remember">
            <label class="form-check-label" for="cb-remember" id="lb-remember">Remember me</label>
          </div>
          </div>
          <div class="col-6">
            <nuxt-link to="/"><label class="form-check-label" id="lb-request">Request account</label></nuxt-link>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  layout: 'blank',
  middleware: 'guest',
  data() {
    return {
      passcode: '123',
      error: null
    }
  },
  methods: {
    async login() {
      if (this.passcode != '') {
        try {
          await this.$auth.loginWith('local', {
            data: {
              passcode: this.passcode
            }
          })
          await this.$router.push('/')
        } catch (err) {
          this.error = err.response.data.message
        }
      }
    }
  } 
}
</script>

<style scoped src="~/assets/css/login.css">

</style>